# Editor
.vscode

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store
__MACOSX/

__pycache__/
*.npy
*.pickle
*.zip
*.png
*.docx
datasets/
dataset/
results/
*.Identifier
*.bin
*.optim

# Documents
literature/
slides+notes/